{% extends "layout.html" %}

{% block title %}
Change Password
{% endblock %}

{% block main %}

<form action="/change_password" method="post" class="row g-3 needs-validation">
  <div class="col-md-12">
    <label for="validationCustom01" class="form-label">Current Password</label>
    <div class="input-group has-validation">
      <span class="input-group-text" id="inputGroupPrepend"><i class="far fa-eye" id="toggleCurrentPassword"
          style="cursor: pointer;"></i></span>
      <input type="password" class="form-control" id="validationCustom01" name="current_password"
        placeholder="Required" required>
      <div class="invalid-feedback">
        Please enter your current password.
      </div>
    </div>
  </div>
  <script>
    const toggleCurrentPassword = document.querySelector('#toggleCurrentPassword');
    const currentPassword = document.querySelector('#validationCustom01');

    toggleCurrentPassword.addEventListener('click', function (e) {
      // toggle the type attribute
      const type = currentPassword.getAttribute('type') === 'password' ? 'text' : 'password';
      currentPassword.setAttribute('type', type);
      // toggle the eye slash icon
      this.classList.toggle('fa-eye-slash');
    });
  </script>
  <div class="col-md-6">
    <label for="validationCustom06" class="form-label">New Password</label>
    <div class="input-group has-validation"><span class="input-group-text" id="inputGroupPrepend"><i class="far fa-eye"
          id="togglePassword" style="cursor: pointer;"></i></span>
      <input type="password" class="form-control" id="validationCustom06" name="new_password" placeholder="Required"
        required>
    </div>
    <div id="passwordHelpBlock" class="form-text">
      <strong>Your new password must:</strong><br>
      Use a minimum of 8 characters.<br>
      Include at least 1 uppercase letter.<br>
      Include at least 1 lowercase letter.<br>
      Include special characters.<br>
      Include numbers.<br><br>
      <i>This ensures your password is strong and secure.</i>
    </div>
  </div>
  <script>
    const togglePassword = document.querySelector('#togglePassword');
    const password = document.querySelector('#validationCustom06');

    togglePassword.addEventListener('click', function (e) {
      // toggle the type attribute
      const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
      password.setAttribute('type', type);
      // toggle the eye slash icon
      this.classList.toggle('fa-eye-slash');
    });
  </script>
  <div class="col-md-6">
    <label for="validationCustom07" class="form-label">Confirm New Password</label>
    <div class="input-group has-validation"><span class="input-group-text" id="inputGroupPrepend"><i class="far fa-eye"
          id="togglePasswordConfirmation" style="cursor: pointer;"></i></span>
      <input type="password" class="form-control" id="validationCustom07" name="new_password_confirmation"
        placeholder="Required" required>
    </div>
  </div>
  <script>
    const togglePasswordConfirmation = document.querySelector('#togglePasswordConfirmation');
    const passwordConfirmation = document.querySelector('#validationCustom07');

    togglePasswordConfirmation.addEventListener('click', function (e) {
      // toggle the type attribute
      const type = passwordConfirmation.getAttribute('type') === 'password' ? 'text' : 'password';
      passwordConfirmation.setAttribute('type', type);
      // toggle the eye slash icon
      this.classList.toggle('fa-eye-slash');
    });
  </script>
  <div class="col-12 d-grid gap-2">
    <button class="btn btn-success" type="submit">Save</button>
  </div>
</form>
{% endblock %}